.cours {
    padding: 20px;
    text-align:center;
}

.card-cours {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align:center;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
}

.card-titre {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align:center;
}

.card-body {
    font-size: 1em;
}

.card button{
    width: 130px;
    height: 30px;
    margin:1px;
    font-size: 15px;
}

